
.locationMap {
    position: absolute;
    /* top: 27%; */
    height: 102.6vw;
    width: 95%;
    left: 50%;
    margin-left: -47.25%;
    bottom: 2.25vw;
    background: #fff;
    overflow: auto;
}

.background2 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 93%;
    /*background: rgb(169, 144, 106);*/
      background: #B6DBDD;
    margin-left: -45%;
    box-shadow: 0px 2px 5px #bbb;
}

#area {
    display: none;
    position: absolute;
    border: 2px solid #E40E0E;
}

#myLocation {
    /*   background: url("../img/point.png") no-repeat; */
    position: absolute;
    height: 40px;
}

#exhibit {
    height: 20px;
    position: absolute;
}

#wrapper {
    background: #fff;
}

.floor_info {
    right: 2%;
    font-size: 18px;
    top: 0;
    z-index: 50;
    position: absolute;
}

.mapBack {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 11;
    margin: 5px;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
}

.mapBack i {
    font-size: 20px;
    vertical-align: middle;
}
